<%
  var tp = typeof themePath !== 'undefined' ? themePath : '/themes/wotlk';
%>
    </td>
    <td style="background:url('<%= tp %>/images/metalborder-right.gif');"></td>
</tr>
<tr>
    <td><img src="<%= tp %>/images/metalborder-bot-left.gif" height="11" width="12" alt=""/></td>
    <td style="background:url('<%= tp %>/images/metalborder-bot.gif');"></td>
    <td><img src="<%= tp %>/images/metalborder-bot-right.gif" height="11" width="12" alt=""/></td>
</tr>
</tbody>
</table>
